.company-details-wrapper {
    display: flex;
    justify-content: center;
}

.company-details-content {
    height: 100%;
    width: 80%;
    padding-top: 2rem;
    padding: 0 1rem;
}

.company-profile-header {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 20%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company-profile-title-box {
    display: flex;
    width: 70%;

    & svg {
        width: 50px;
        height: 50px;
        color: var(--mainGreen);
    }

    & h1 {
        margin-left: 1rem;
        padding-bottom: .75rem;
        border-bottom: 1px solid var(--mainGreen);
        letter-spacing: 1px;
        font-weight: 400;
    }
}

.company-profile-data-container {
    padding: 1rem 1rem 5rem 1rem;
    height: 80%;
    width: 80%;
    overflow: scroll;
}

.company-profile-data-container::-webkit-scrollbar {
    display: none;
}

.profile-data-section-title {
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    letter-spacing: 1px;
}


.profile-table-element {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    & p {
        width: 30%;
        height: 35px;
        margin-right: 1rem;
        background: var(--mainGreen);
        border-radius: 5px;
        padding-left: .5rem;
        display: flex;
        align-items: center;
        font-size: 1rem;
        letter-spacing: 1px;
    }
    // not editable input field
    & input {
        outline: none;
        border: none;
        border-radius: 5px;
        margin-left: 4rem;
        padding-left: .5rem;
        height: 35px;
        width: 70%;
        font-size: 1rem;
        letter-spacing: 1px;
        box-shadow: 0 0 10px black;
        background: var(--mainWhite);
    }
}

// editable input field
#editable-input {
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: .5rem;
    height: 35px;
    width: 70%;
    font-size: 1rem;
    letter-spacing: 1px;
    box-shadow: 0 0 10px black;
    background: rgb(255, 96, 234);
}

.profile-table-element .company-element {
    background: var(--mainGreen);
}
