.company-profile-data-container {
    height: 500px;
    width: 500px;
    overflow: scroll;
    box-shadow: 0px 20px 20px black;
}

.company-details-wrapper {
    display: flex;
    justify-content: center;
}

.company-details-content {
    width: 80%;
    padding-top: 4rem;
    margin-left: 20%;
}

.company-profile-title-box {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    // margin: 2rem 0 0 1rem;
    & img {
        border-radius: 50%;
        background: var(--mainWhite);
        box-shadow: 0 0 10px black;
    }
    & h1 {
        margin-left: 1rem;
        text-shadow: 0 0 10px black;
        padding-bottom: .75rem;
        border-bottom: 1px solid var(--mainWhite);
        letter-spacing: 1px;
    }
}

.profile-table-element {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    & p {
        width: 200px;
        height: 35px;
        margin-right: 1rem;
        background: var(--mainGreen);
        color: var(--mainBlue);
        border-radius: 5px;
        padding-left: .5rem;
        display: flex;
        align-items: center;
        font-size: 1rem;
        box-shadow: 0 0 10px black;
        letter-spacing: 1px;
    }
    // not editable input field
    & input {
        outline: none;
        border: none;
        border-radius: 5px;
        padding-left: .5rem;
        height: 35px;
        width: 300px;
        font-size: 1rem;
        letter-spacing: 1px;
        box-shadow: 0 0 10px black;
        background: rgb(200, 200, 200);
    }
}

// editable input field
#editable-input {
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: .5rem;
    height: 35px;
    width: 300px;
    font-size: 1rem;
    letter-spacing: 1px;
    box-shadow: 0 0 10px black;
    background: var(--mainWhite);
}


.profile-edit-btn {
    border: 1px solid var(--mainGreen);
    background: var(--mainBlue);
    color: var(--mainWhite);
    height: 35px;
    width: 50px;
    border-radius: 25px;
    margin-left: 10rem;
    transition: all .3s;
    &:hover {
        background: var(--mainGreen);
        color: var(--mainBlue);
    }
    &:focus {
        outline: none;
    }
}
.profile-save-btn {
    border: none;
    background: var(--mainGreen);
    color: var(--mainBlue);
    height: 35px;
    width: 50px;
    border-radius: 25px;
    margin-left: 6rem;
    transition: all .3s;
    &:hover {
        background: var(--mainGreen);
        color: var(--mainBlue);
    }
    &:focus {
        outline: none;
    }
}
.profile-cancel-btn {
    border: none;
    background: var(--mainGreen);
    color: var(--mainBlue);
    height: 35px;
    width: 50px;
    border-radius: 25px;
    margin-left: 1rem;
    transition: all .3s;
    &:hover {
        background: var(--mainGreen);
        color: var(--mainBlue);
    }
    &:focus {
        outline: none;
    }
}
