.job-page-wrapper {
    display: flex;
    justify-content: center;
}

.employee-job-content {
    height: 100%;
    width: 80%;
    padding-top: 2rem;
    padding: 0 1rem;
}

.job-pay-header {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.employee-job-title-box {
    display: flex;
    align-items: center;
    width: 70%;
    height: 20%;
    & svg {
        width: 40px;
        height: 40px;
        color: var(--mainBurgund);
    }
    & h1 {
        margin-left: 1rem;
        padding-bottom: .75rem;
        letter-spacing: 1px;
        font-weight: 300;
    }
}

.job-title-and-logo {
    display: flex;
    border-bottom: 1px solid var(--mainBurgund);
    padding-top: 1rem;
}

.employee-job-details-container {
    padding: 1rem 1rem 5rem 1rem;
    height: 80%;
    width: 100%;
    overflow: scroll;
}

.employee-job-details-container::-webkit-scrollbar {
    display: none;
}


.job-table-element {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    & p {
        width: 30%;
        height: 35px;
        background: var(--mainBurgund);
        color: white;
        border-radius: 5px;
        padding-left: 1rem;
        display: flex;
        align-items: center;
        font-size: 1rem;
        box-shadow: 0 0 5px black;
        letter-spacing: 1px;
    }
    // not editable input field
    & input {
        outline: none;
        border: none;
        border-radius: 5px;
        margin-left: 4rem;
        padding-left: 1rem;
        height: 35px;
        width: 60%;
        font-size: 1rem;
        letter-spacing: 1px;
        box-shadow: 0 0 5px var(--mainBlack);
        background: var(--mainWhite);
        &:hover {
            cursor: default;
        }
    }
}