.card-content {
    color: var(--mainBlue);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 1% auto;
    max-height: 300px;
    overflow: scroll;
    width: 95%;
    transition: max-height 0.5s ease-in-out;

    &.hidden {
        max-height: 0;
    }

    &-row {
        width: 100%;
        overflow: scroll;
    }

    &-header {
        border: solid 1px var(--mainGreen);
        background-color: var(--mainGreen);
        border-radius: 8px;
        height: 30px;
        margin-bottom: 1%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;


        &-element {
            width: 25%;
            display: flex;
            justify-content: space-evenly;

            & h3 {
                color: var(--mainBlue);
            }
        }
    }
}

.card-content::-webkit-scrollbar {
    display: none;
}

