.auth-inputfield {
    width: 80%;
    outline: none;
    border-radius: var(--borderRadius);
    border: none;
    height: 35px;
    font-size: 1rem;
    padding-left: 10px;
    box-shadow: 0 0 5px black;
}
