.auth-button {
    height: 35px;
    width: 150px;
    border: none;
    border-radius: var(--borderRadius);
    background-color: var(--mainGreen);
    font-size: 1rem;
    outline: none;
    box-shadow: var(--boxShadow);
    transition: all .2s;

    &:hover {
        background: var(--lightGreen);
    }

    &:active {
        box-shadow: 0 0 0 black;
    }
}

.logout-button {
    height: 35px;
    width: 150px;
    border: 1px solid var(--mainBurgund);
    border-radius: var(--borderRadius);
    font-size: 1rem;
    outline: none;
    box-shadow: 0 0 5px black;
    transition: all .2s;
    letter-spacing: 1px;
    background-color: var(--mainGreen);
    color: black;

    &:hover {
        background-color: #CB2D6F;
        color: white;
    }

    &:active {
        box-shadow: 0 0 0 black;
    }
}
