.auth-button {
    height: 35px;
    width: 150px;
    border: none;
    border-radius: var(--borderRadius);
    background-color: var(--mainGreen);
    font-size: 1rem;
    outline: none;
    box-shadow: 0 0 10px black;
    transition: all .2s;
    &:hover {
        background: var(--lightGreen); 
    }
    &:active {
        box-shadow: 0 0 0 black;
    }
}

.logout-button {
    height: 35px;
    width: 150px;
    border-radius: var(--borderRadius);
    background-color: var(--mainBlue);
    font-size: 1rem;
    color: var(--mainWhite);
    border: none;
    outline: none;
    box-shadow: 0 0 5px black;
    transition: all .2s;
    letter-spacing: 1px;
    &:hover {
        background: red;
    }
    &:active {
        box-shadow: 0 0 0 black;
    }
}