.pages-container {
    width: 75%;
    background-color: var(--mainBlue);
    color: var(--mainWhite);
}

.company-logo {
    height: 25%;
    display: flex;
    justify-content: center;
}

.sidebar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 45px;
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--mainBlue);
    border: 2px solid var(--mainBlue);
    border-radius: 8px;
    padding: 5px;
    transition: all 0.3s;
    &:hover {
        background-color: var(--mainBlue);
        color: var(--mainWhite);
    }
}

#active-sidebar-link {
    background-color: var(--mainBlue);
    color: var(--mainWhite);
}

.sidebar-placeholder {
    height: 15%;
}