.pages-container {
    width: 75%;
    background-color: var(--mainGrey);
}


.sidebar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-decoration: none;
    box-shadow: var(--boxShadow);
    color: black;
    //background-color: var(--mainBurgund);
    border: 1px solid var(--mainBlue);
    border-radius: 8px;
    padding: 5px;
    transition: all 0.25s;

    &:hover {
        background-color: var(--mainBurgund);
        color: var(--mainWhite);
    }

    &:active {
        box-shadow: 0px 0px 0px black;
        background-color: (--mainBurgund);
    }
}

#active-sidebar-link {
    background-color: var(--mainBurgund);
    color: var(--mainWhite);
}

.company-logo {
    display: flex;
    justify-content: center;
}

.logo-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    // margin-top: 3rem;
    background-color: var(--mainBurgund);
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    transition: all .5s ease-in-out;

    &:hover {
        transform: rotate(360deg);
        box-shadow: 0 0 15px black;
    }
}

.company-logo-title {
    color: var(--mainWhite);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 5rem;
}