.employee-dashboard-wrapper {
    display: flex;
    justify-content: center;
}

.employee-dashboard-container {
    height: 100%;
    width: 80%;
    padding-top: 2rem;
    padding: 0 1rem;
}

.employee-dashboard-title-box {
    padding-left: 1rem;
    height: 20%;
    display: flex;
    align-items: center;
    & h1 {
        text-shadow: 0 0 10px black;
        padding-bottom: .75rem;
        font-weight: 300;
        letter-spacing: 1px;
        margin-left: 1rem;
    }
    & svg {
        width: 40px;
        height: 40px;
        color: var(--mainGreen);
    }
}

.employee-dashboard-title-and-logo {
    display: flex;
    border-bottom: 1px solid var(--mainGreen);
    padding-top: 1rem;
}

.employee-dashboard-content {
    height: 80%;
    padding: 1rem 1rem;
    overflow: scroll;
    position: relative;
}

.employee-dashboard-content::-webkit-scrollbar {
    display: none;
}

.dashboard-welcome-box {
    text-shadow: 0 0 10px black;
    & h1 {
        margin-bottom: 1rem;
        font-weight: 300;
    }
    & p {
        font-style: italic;
        font-family: var(--secondaryFontFamily);
    }
}

.dashboard-card-container {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.dashboard-card {
    background: var(--mainGreen);
    width: 45%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    // box-shadow: var(--boxShadow);
    color: var(--mainBlue);
    overflow: scroll;
    & h3 {
        margin-bottom: 1rem;
        font-weight: 400;
    }
    & ul {
        list-style-type: none;
        & li {
            background: var(--mainWhite);
            padding: 10px;
            margin-bottom: .5rem;
            border-radius: 5px;
            box-shadow: var(--boxShadow);
        }
        & li:nth-child(2n) {
            background: var(--mainGrey);
            color: var(--mainBlue);
        }
    }
}

.dashboard-card::-webkit-scrollbar {
    display: none;
}