.dialog-container {
    width: 450px;
    display: flex;
    z-index: 1010;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--mainWhite);
}

.dialog-container-actions {
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    & h2 {
        height: 9%;
        color: var(--mainBlue);
        border-bottom: 1px solid var(--mainBlue);
        margin-bottom: 2rem;
        font-weight: 400;
    }

    & form {
        height: 80%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.span-dialog {
    margin-top: 3%;
}

.dialog-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}