.company-documents-wrapper {
    display: flex;
    justify-content: center;
}

.company-documents-container {
    height: 100%;
    width: 80%;
    padding-top: 2rem;
    padding: 0 1rem;
}

.company-documents-title-box {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & svg {
        width: 40px;
        height: 40px;
        color: var(--mainGreen);
        text-shadow: 0 0 10px black;
    }

    & h1 {
        margin-left: 1rem;
        text-shadow: 0 0 10px black;
        padding-bottom: .75rem;
        letter-spacing: 1px;
        font-weight: 300;
    }
}

.company-documents-title-and-logo {
    display: flex;
    border-bottom: 1px solid var(--mainGreen);
}

.company-document-upload {
    display: flex;
    align-items: center;

    & svg {
        color: var(--mainWhite);
    }

    & h3 {
        margin-right: 1rem;
        text-shadow: 0 0 10px black;
        font-weight: 400;
    }

    & svg:hover {
        color: var(--mainGreen)
    }
}

.company-documents-content {
    padding-left: 1rem;
    padding-right: 1rem;
    // height: 80%;
    // overflow: scroll;
    // position: relative;
    & .single-document-element:nth-child(2n+1) {
        background: var(--mainGreen);
        & .svg-arrow-down:hover {
        color: var(--mainWhite);
    }
    }
}

#document-table-head {
    background: var(--mainGreen);
    margin-bottom: 2.5rem;
    border-radius: 3px;

    & h3 {
        font-size: 1.3rem;
        font-weight: 400;
    }
}

.single-document-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--mainWhite);
    color: var(--mainBlue);
    height: 50px;
    border-radius: 4px;
    margin-bottom: 1.25rem;
    padding: 0 2rem;
    box-shadow: 0 0 8px black;
    // box-shadow: var(--boxShadow);
    & svg {
        color: var(--mainBlue);
        width: 25px;
        height: 25px;
    color: var(--mainBlue);
    width: 25px;
    height: 25px;
    margin-left: 2rem;
    }

    & p {
        font-size: 1.1rem;
    }

    & svg:hover {
        color: red;
    }
    & .svg-arrow-down:hover {
        color: var(--mainGreen);
    }
}

.document-helper-div {
    width: 30%;
    display: flex;
    justify-content: center;

    &-left {
        justify-content: flex-start;
        margin-right: 5rem;
    }

    &-right {
        justify-content: flex-end;
        padding-right: 2rem;
    }
}