.signuppage-container {
    background-color: var(--mainGreen);
    height: 100%;
    display: flex;
    justify-content: center;
}

.signup-authentication-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--mainBlue);
    box-shadow: 0px 0px 20px black;
}

.employee-signup-title-box {
    & h1 {
        margin-bottom: 1rem;
        font-family: 'Dancing Script', cursive;
        color: var(--mainWhite);
        text-align: center;
        font-size: 3.5rem;
        text-shadow: var(--boxShadow);
    }

    & h3 {
        color: var(--mainWhite);
        font-style: italic;
        text-align: center;
        font-size: 1rem;
        text-shadow: var(--boxShadow);
    }

    & a {
        color: var(--mainGreen);
        text-decoration: none;
        transition: all .3s;
        text-shadow: var(--boxShadow);
        &:hover {
            text-shadow: 0 0 5px var(--mainGreen);
            color: var(--lightGreen);
        }
    }
}

.employee-signup-success {
    & h1 {
        margin-bottom: 1rem;
        font-family: 'Dancing Script', cursive;
        color: var(--mainWhite);
        text-align: center;
        font-size: 6rem;
        text-shadow: var(--boxShadow);
    }

    & h3 {
        color: var(--mainWhite);
        font-style: normal;
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-size: 1.9rem;
        text-shadow: var(--boxShadow);
    }

    & a {
        color: var(--mainGreen);
        text-decoration: none;
        transition: all .3s;
        text-shadow: var(--boxShadow);
        &:hover {
            text-shadow: 0 0 5px var(--mainGreen);
            color: var(--lightGreen);
        }
    }
}

.signup-employee {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    & input {
        outline: none;
        border: none;
        border-radius: 5px;
        height: 30px;
        width: 50%;
        padding-left: .5rem;
        margin-bottom: 1rem;
        font-size: .9rem;
        letter-spacing: 1px;
        box-shadow: var(--boxShadow);
        background: var(--mainWhite);
    }
}

.employee-validate-submitBtn {
    height: 30px;
    width: 125px;
    border: none;
    border-radius: var(--borderRadius);
    background-color: var(--mainGreen);
    font-size: 1rem;
    outline: none;
    box-shadow: 0 0 10px black;
    transition: all .2s;
    &:hover {
        background: var(--lightGreen); 
    }
    &:active {
        box-shadow: 0 0 0 black;
    }
}




