.landingpage-container {
    background-color: var(--mainGreen);
    height: 100%;
}

.landingpage-header {

    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
        font-family: var(--mainFontFamily);
    }

    & h3 {
        font-family: var(--secondaryFontFamily);

    }
}

#razzpay-main-title {
    font-size: 7rem;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 2rem;
    // margin-top: 2.5rem;
    // text-shadow: 0 0 3px var(--mainBlack);
}

#main-subtitle {
    font-family: var(--secondaryFontFamily);
    font-weight: 300;
    // font-style: italic;
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
}

.authentication-container {
    background-color: var(--mainBurgund);
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px black;
}

.register {
    display: flex;
    height: 90%;
    width: 25%;
    justify-content: center;
    border-right: 1px solid var(--mainWhite);

    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .input-span {
            height: 15px;
        }
    }
}


.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 30%;
    padding-top: 1rem;

    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
        .input-span {
            height: 15px;
        }
    }
}

.register-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & p {
        color: var(--mainWhite);
        font-family: var(--secondaryFontFamily);
        text-align: center;
        font-size: .9rem;
    }
    & a {
        color: var(--mainWhite);
        font-family: var(--secondaryFontFamily);
        text-decoration: none;
        border-bottom: 1px solid var(--mainWhite);
        font-size: .95rem;

    }
    & a:hover {
        color: var(--mainGreen);
        border-bottom: 1px solid var(--mainGreen);
    }
}

.footer {
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    // margin-top: 1rem;
    padding: 0 30px 15px 30px;
    // background: var(--mainGreen);
    
    &-left {
        width: 40%;
        display: flex;
        justify-content: space-around;
        & a {
            box-sizing: border-box;
            font-family: var(--secondaryFontFamily);
            color: black;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 5px 0;
            border-bottom: 2px solid transparent;
        }
        & a:hover {
            border-bottom: 2px solid var(--mainBlack);
        }
    }

    &-right {
        display: flex;
        justify-content: space-around;
        width: 30%;
        padding-bottom: 5px;
        // & img {
        //     width: 20px;
        //     height: 20px;
        // }
    }
}

.new-login-button {
    height: 35px;
    width: 150px;
    border: none;
    color: white;
    border-radius: var(--borderRadius);
    background-color: var(--mainBurgundy);
    border: 1px solid var(--mainGreen);
    font-size: 1rem;
    outline: none;
    // box-shadow: var(--boxShadow);
    transition: all .2s;
    &:hover {
        background: var(--mainGreen); 
        // border: none;
        color: black;
    }
    &:active {
        background: rgb(28, 226, 216);
    }
}



