.landingpage-container {
    background-color: var(--mainGreen);
    height: 100%;
}

.landingpage-header {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
        font-family: var(--mainFontFamily);
    }

    & h3 {
        font-family: var(--secondaryFontFamily);
    }
}

.authentication-container {
    background-color: var(--mainBlue);
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    display: flex;
    height: 90%;
    width: 25%;
    justify-content: center;
    border-right: 1px solid var(--mainWhite);

    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}


.login {
    display: flex;
    height: 90%;
    width: 25%;
    justify-content: center;


    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.footer {
    height: 15%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 7px;

    &-left {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

    &-spaceholder {
        width: 30%;
    }

    &-right {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
}
