.landingpage-container {
    background-color: var(--mainGreen);
    height: 100%;
}

.landingpage-header {
    height: 45%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    & h1 {
        font-family: var(--mainFontFamily);
    }

    & h3 {
        font-family: var(--secondaryFontFamily);
        color: var(--mainBlue);
    }
}

#razzpay-main-title {
    color: var(--mainBlue);
    font-size: 5.5rem;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    text-shadow: 0 0 3px var(--mainBlue);
}

#main-subtitle {
    font-family: var(--secondaryFontFamily);
    font-weight: 300;
    font-style: italic;
    font-size: 1.2rem;
    width: 60%;
    text-align: center;
    // text-shadow: 0 0 5px var(--mainBlue);
}

.authentication-container {
    background-color: var(--mainBlue);
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px black;
}

.register {
    display: flex;
    height: 90%;
    width: 25%;
    justify-content: center;
    border-right: 1px solid var(--mainWhite);

    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .input-span {
            height: 15px;
        }
    }
}


.login {
    display: flex;
    height: 90%;
    width: 25%;
    justify-content: center;

    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .input-span {
            height: 15px;
        }
    }
}

.footer {
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    // padding-bottom: 15px;
    padding: 0 30px 15px 30px;
    background: var(--mainGreen);
    
    &-left {
        width: 40%;
        display: flex;
        justify-content: space-around;
        & a {
            box-sizing: border-box;
            font-family: var(--secondaryFontFamily);
            color: var(--mainBlue);
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 5px 0;
            border-bottom: 2px solid transparent;
        }
        & a:hover {
            border-bottom: 2px solid var(--mainBlue);
        }
    }

    &-right {
        display: flex;
        justify-content: space-around;
        width: 30%;
        padding-bottom: 5px;
        // & img {
        //     width: 20px;
        //     height: 20px;
        // }
    }
}



