.cardcontentrow-container {
    border: solid 1px var(--mainWhite);
    background-color: var(--mainWhite);
    border-radius: 4px;
    height: 30px;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    &:hover {
        background-color: var(--mainGreen);
    }
}

.cardcontentrow-element {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}
