.company-reportrow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
    border-radius: 4px;
    border-bottom: 1px solid var(--mainBlue);
    background-color: var(--mainWhite);

    &-container {
        width: 100%;
    }

    &-details {
        //margin-left: 4%;
        width: 100%;
        display: flex;
        justify-content: space-around;

        &-field {
            width: 25%;
            display: flex;
            justify-content: center;
        }
    }

    & p {
        color: var(--mainBlue);
    }

    &-toggle {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

