.company-people {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-header {
        border-bottom: 2px solid var(--mainWhite);
        padding-bottom: 3%;
        width: 80%;
        margin-top: 10%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &-allpeople {
        width: 26%;
        height: 100%;
        display: flex;
        justify-content: center;

        & h1 {
            color: black;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }

    &-search {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-table-container {
        height: 100%;
        width: 80%;
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        & h2 {
            color: var(--mainWhite)
        }
    }

    &-table-header {
        background-color: var(--mainGreen);
        border-radius: 3px;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 2%;
        width: 100%;

        & div {
            width: 30%;
            display: flex;
            justify-content: center;

            & h2 {
                color: var(--mainBlue);
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
    }

    &-table-content {
        overflow: scroll;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 400px;

        & h3 {
            color: var(--mainWhite)
        }
    }

    &-modal-content {
        width: 75%;
        height: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        border-radius: 5px;
        z-index: 5;
        overflow: auto;
    }
}

.company-people-table-content::-webkit-scrollbar {
    display: none;
}
